<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">

    </head>
    <title>Patitas Felices</title>

    <body>
       
        <section class="contenedor1" th:fragment="sobreNosotros">
           
           
                <div class="info-container">
                <section class="info">
                    <strong><h3> Quiénes Somos?</strong> </h3>
                    <p>Bienvenido a Patitas Felices, donde cada huella cuenta una historia de amor, esperanza y cuidado. En Patitas Felices, nos dedicamos a brindar un refugio seguro, amoroso y compasivo para los animales más necesitados. Fundada con la convicción de que cada ser viviente merece amor y protección, nuestra organización se esfuerza por ser un faro de esperanza para todas las criaturas peludas que cruzan nuestro umbral.</p>
                </section>  

                <section class="info">
                    <strong><h3> Misión</strong> </h3>
                    <p>En Patitas Felices, nuestra misión es simple pero poderosa: salvar vidas, fomentar el bienestar animal y promover la adopción responsable. Nos comprometemos a proporcionar atención médica de calidad, alimentación adecuada, ejercicio, y sobre todo, mucho amor y cariño a cada uno de nuestros residentes peludos.</p>
                </section>  
            

         
                <section class="info">
                    <strong><h3> Equipo</strong> </h3>
                    <p>Nuestro equipo está formado por individuos apasionados y dedicados que comparten una profunda conexión con los animales. Desde nuestros veterinarios expertos hasta nuestros voluntarios entregados, cada miembro de Patitas Felices trabaja incansablemente para asegurarse de que cada animal reciba el cuidado que merece.</p>
                </section>  

                <section class="info">
                    <strong><h3> Educación y Sensibilización</strong> </h3>
                    <p>En Patitas Felices, creemos en la importancia de la educación y la sensibilización sobre el bienestar animal. A través de programas de educación comunitaria, eventos de concientización y campañas de esterilización y castración, trabajamos para crear un mundo donde todos los animales sean tratados con respeto y compasión.</p>
                </section>  
         

                <section class="info">
                    <strong><h3> Historias de Éxito</strong> </h3>
                    <p>Nos sentimos profundamente honrados de ser parte de la vida de cada animal que pasa por nuestras puertas. Cada historia de rescate, rehabilitación y adopción exitosa nos llena de alegría y nos impulsa a seguir adelante en nuestra misión.</p>
                </section>  

                <section class="info">
                    <strong><h3> Invitación y Agradecimiento</strong> </h3>
                    <p>Únete a nosotros en nuestro viaje hacia un futuro donde cada pata pueda bailar con felicidad. ¡Juntos, estamos haciendo del mundo un lugar mejor para todas las criaturas peludas! Gracias por tu apoyo y por ser parte de la familia de Patitas Felices.</p>
                </section>  
            </div>
        
            
            

            <section class="seccion1">
                <img class="rounded-corner" src="https://facme.org/wp-content/uploads/terapias-con-animales.jpg "alt="gato" style="height: 500px"/>
            </section>


        </section>
    </body>
</html>
