<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
        <link th:href="@{/css/pantallaPrincipal.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        
        <div class="contenedor1" style="padding-left: 40px; padding-top: 20px; padding-bottom: 20px">
            <h1>¡Visítanos!</h1>
        </div>
        
        <div class="text-center mb-3">
            <p style="font-family: sans-serif; color: black; font-size: 28px; padding-top: 20px; padding-bottom: 20px">Mira nuestra casa</p>
        </div>
        
        <div class>
            <p>¡Ven y únete a nosotros en nuestro refugio de amor y esperanza para animales necesitados! En nuestro refugio, cada visita se convierte en una oportunidad para cambiar vidas, tanto para los animales que esperan un hogar como para aquellos que buscan la alegría y la compañía de una mascota.</p>
<!--            <a href="/visita/listado" class="btn custom-btn-color">¡Visítanos!</a>-->
            <a href="/visita/listado" class="btn custom-btn-color">¡Visítanos!</a>
        </div>        
        
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
