.fondo{
    padding: 100px;
    height: 100%;
    
}

.mb-4{
    color: white;
    text-align: center;
    margin-bottom: 50px !important;
}

#b {
    background: url("https://biozoo.com.mx/lavidaanimal/assets/blog/Poblaciones-con-mayor-nivel-de-riesgo.jpg");
    min-width: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 100vh;
    
    background-attachment: fixed;
}
.custom-btn-color {
    background-color: #461b75;
    border-color: #461b75;
    color: white;
    border-radius: 10px;
    padding: 0.5em 1em;
    font-size: 1.1rem;
}


.botonesPanel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.custom-btn-color:hover{
    background: #702DB9;
    color: white;
    
}