.color{
    background: #DFCCF3 !important;
    
}

.contenedorLogin{
    align-content: right;
    max-width: 450px;
}

.contenedorLogin img{
    width: 100%;
    padding-top: 20px;
    border-radius: 40px;    
}

.divLogin{
    display: flex;
    gap: 20px;
    width: 75%;
}