contenedorLogin {
    width: 30px;
    vertical-align: middle;
}

.form-control {
    display: block;
    width: 70%;
}

.imagen-form-wrapper {
  display: flex;
  align-items: center;
}

.imagen-form-wrapper .contenedor {
  margin-left: auto; 
}

.imagen-form-wrapper .contenedor img {
  
  margin-top: 50px;
  margin-right: 100px;
  width: auto;
  height: auto;
  max-height: 600px;
}

.imagen-form-wrapper .container {
  width: 1000px;
  align-content: center;
  max-height: 70%;
  margin-left: auto; 
}
.bg-dark {
    --bs-bg-opacity: 1;
    
}
.bg-info {
    --bs-bg-opacity: 1;
   
}


.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #cf92d3;
    --bs-btn-border-color: #c89bc9;
    --bs-btn-hover-bg: #e1a9d9;
    --bs-btn-hover-border-color: #c39bc7;

}
.form-check-input:checked {
    background-color: #be8dbf;
    border-color: #bc93c3;
}


