<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <link th:href="@{/css/pantallaPrincipal.css}" rel="stylesheet" type="text/css"/>
        <title>Patitas Felices</title>
    </head>
    <body>
        <section th:fragment="listadoMascotas" id="mascotas">
            <div class style="padding-left: 130px; padding-top: 20px; padding-bottom: 20px; background-color: #dfccf3; color: #461b75;">
                <h1>Adoptar</h1>
            </div>

            <div class="container">
                <div class="row row-cols-2" >
                    <div id="resultsBlock"></div></div>
                <div class="row row-cols-3" 
                     th:if="${mascotas != null and !mascotas.empty}">
                    <div class="card" th:each="mascota : ${mascotas}">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 30px;">[[${mascota.nombre}]]</h5>
                            <figure>
                                <img th:src="@{${mascota.rutaImagen}}" height="400"/>
                                <figcaption>[[#{mascota.idMascota}]]: [[${mascota.idMascota}]]</figcaption>
                                <figcaption>[[#{mascota.genero}]]: [[${mascota.genero}]]</figcaption>
                                <figcaption>[[#{mascota.raza}]]: [[${mascota.raza}]]</figcaption>
                                <figcaption>[[#{mascota.edad}]]: [[${mascota.edad}]]</figcaption>
                            </figure>
                            <form>
                                <button 
                                    type="button" 
                                    class="btn custom-btn-color" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#ventanaFormulario">
                                    <i class="fas fa-paw"></i> [[#{mascota.adoptar}]]
                                </button>
                            </form>
                            <p class="card-text">[[${mascota.descripcion}]]</p>                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--ventana modal formulario-->
        <section th:fragment="ventanaFormulario">
            <div id="ventanaFormulario" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Formulario para solicitud de adopción</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/guardarFormulario}" th:object="${formulario}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="idMascota" class="form-label">ID de la mascota</label>
                                    <input type="number" class="form-control" id="idMascota" name="idMascota" required="true">
                                </div>
                                <div class="mb-3">
                                    <label for="nombreCompleto" class="form-label">Nombre Completo</label>
                                    <input type="text" class="form-control" id="nombreCompleto" name="nombreCompleto" required="true">
                                </div>
                                <div class="mb-3">
                                    <label for="cedula" class="form-label">Cédula</label>
                                    <input type="text" class="form-control" id="cedula" name="cedula" required="true">
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" required="true">
                                </div>
                                <div class="mb-3">
                                    <label for="telefono" class="form-label">Teléfono</label>
                                    <input type="text" class="form-control" id="telefono" name="telefono" required="true">
                                </div>
                                <div class="mb-3">
                                    <label for="motivoAdopcion" class="form-label">Motivo de Adopción</label>
                                    <textarea class="form-control" id="motivoAdopcion" name="motivoAdopcion" required="true"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="comentariosAdicionales" class="form-label">Comentarios Adicionales</label>
                                    <textarea class="form-control" id="comentariosAdicionales" name="comentariosAdicionales"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">Activo</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo" required="true"/>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Enviar formulario</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>