<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <link th:href="@{/css/pantallaPrincipal.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/comentarios.css}" rel="stylesheet" type="text/css"/>
        <title>Comentarios</title>
    </head> 

    <body>
        <!--  Sección  para agregar comentarios -->
        <section th:fragment="comentarios" class="container mt-5">
            <div class style="padding-left: 130px; padding-top: 20px; padding-bottom: 20px; background-color: #dfccf3; color: #461b75;">
                <h1>Comentarios</h1>
            </div>

<!--            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dejanos tus opiniones!!!</h5>
                    <div class="form-group">
                        <textarea id="commentBox" class="form-control" rows="4" placeholder="Escribe tu comentario aquí..."></textarea>
                    </div>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group mr-2" role="group">
                            <button type="button" class="btn btn-secondary format-action" data-style="bold"><b>B</b></button>
                            <button type="button" class="btn btn-secondary format-action" data-style="italic"><i>I</i></button>
                            <button type="button" class="btn btn-secondary format-action" data-style="underline"><u>U</u></button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary align-action" data-align="left">&#8592;</button>
                            <button type="button" class="btn btn-secondary align-action" data-align="center">&#8593;</button>
                            <button type="button" class="btn btn-secondary align-action" data-align="right">&#8594;</button>
                        </div>
                    </div>
                    <button id="sendComment" class="btn btn-primary mt-3">Enviar comentario</button>
                </div>
            </div>-->
        </section>

        <section th:fragment="agregarComentario">
            <div id="agregarComentario" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #dfccf3; color: white;">
                            <h5 class="modal-title">[[#{comentario.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/comentarios/guardar}" th:object="${comentario}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="contenido">[[#{comentario.contenido}]]</label>
                                    <textarea class="form-control" name="contenido" required="true"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="activo">[[#{comentario.activo}]]</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn custom-btn-color" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sección  para mostrar los comentarios -->
        <section th:fragment="listadoComentarios" id="comentarios" style="padding-top: 20px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <!--                            <div class="card-header">
                                                            <h4>[[#{visita.listado}]]</h4>
                                                        </div>-->
                            <div th:if="${comentarios != null and !comentarios.empty}">
                                <table class="table table-hover" style="background-color: #f5effb;">
                                    <thead style="background-color: #461b75; color: white">
                                        <tr>
                                            <th>[[#{comentario.comentario}]]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="comentario, contador : ${comentarios}">
                                            <td>[[${comentario.contenido}]]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${comentarios == null or comentarios.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>

</html>